'exception-reporting':
  'userId': '93535cdb-5825-29b0-6ce2-cd1915af470d'
'release-notes':
  'viewedVersion': '0.94.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '8786426681610c19f7a7733ec10b1f73d29f4d4c'
'editor':
  'preferredLineLength': 100
  'fontSize': 13
  'fontFamily': 'Inconsolata'
  'showInvisibles': true
  'showIndentGuide': true
  'tabLength': 4
'core':
  'themes': [
    'atom-soda-dark-ui'
    'monokai-soda'
  ]
  'projectHome': '/Users/will/Documents/workspace'
  'disabledPackages': [
    'atom-lint'
  ]
'tree-view': {}
'markdown-preview': {}
'git-diff':
  'showIconsInEditorGutter': true
'travis-ci-status':
  'personalAccessToken': 'BgNxxWjJPSUR2eqW5L5s'
'atom-jshint':
  'hintOnModify': false
