'ASM-App':
  'title': 'ASM - App'
  'paths': [
    '/Users/willmckenzie/Documents/workspace/GICHD/ASM/App'
  ]
'ASM - WebApp':
  'title': 'ASM - WebApp'
  'paths': [
    '/Users/willmckenzie/Documents/workspace/GICHD/ASM/WebApp'
  ]
'StreetStream API':
  'title': 'StreetStream API'
  'paths': [
    '/Users/willmckenzie/Documents/workspace/StreetStream/api'
  ]
'Komodo - DragonBomber':
  'title': 'Komodo - DragonBomber'
  'paths': [
    '/Users/willmckenzie/Documents/workspace/komodo/DragonBomber'
  ]
'Komodo - Katie':
  'title': 'Komodo - Katie'
  'paths': [
    '/Users/willmckenzie/Documents/workspace/komodo/katie'
  ]
'Kettle - WebService':
  'title': 'Kettle - WebService'
  'paths': [
    '/Users/willmckenzie/Documents/workspace/komodo/kettle/webservice'
  ]
